.card {
  display: flex;
  align-items: center;
  margin-inline: auto;
  max-inline-size: 48rem;
  background-color: #fecb7d;
  border-radius: 0.7em;
  overflow: hidden;
}
.card .profile-picture {
  inline-size: 40rem;
}
.card .profile-picture img {
  display: block;
  max-block-size: 22rem;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}
.card-body form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin-block-start: -0.4rem;
  padding-inline-end: 1rem;
}
.card.new {
  max-inline-size: 36rem;
  padding-inline-end: 1rem;
}
.card-body.new-register {
  padding-block: 2.4rem;
}
.card-body.new-register div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card .send {
  align-self: flex-end;
  margin-inline: auto;
  background-color: #4f190d;
  color: #f5e4c6;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.card .send:hover {
  align-self: flex-end;
  background-color: #f5e4c6;
  color: #4f190d;
}
.card-body.new-register div:last-of-type {
  grid-column: 2 / 3;
}
.card-body.new-register .send {
  margin-inline: 0;
}
