@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5e4c6;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: clamp(1.75rem, 5vw + 1rem, 4rem);
  color: #4f190d;
  text-shadow: 1px 1px 3px #000;
}
img {
  display: block;
  block-size: auto;
  inline-size: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4f190d;
}
table {
  inline-size: 100%;
  margin-inline: auto;
}
th {
  padding-block: 0.5rem;
}
tbody tr:nth-child(odd) {
  background-color: #fecb7d;
}
.wrapper {
  inline-size: min(92vw, 75rem);
  margin-inline: auto;
}
.flex-cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  inline-size: clamp(5rem, 40vw + 1rem, 25rem);
}
.mainNav {
  background-color: #fecb7d;
}
.mainNav ul {
  display: flex;
  justify-content: end;
}
.mainNav a {
  display: block;
  color: #4f190d;
  padding-block: 0.75em;
  padding-inline: 1.5em;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.mainNav a:hover {
  color: #f5e4c6;
  background-color: #4f190d;
}
.mt-5 {
  margin-block-start: 5rem;
}
.mt-3 {
  margin-block-start: 3rem;
}
.mt-2 {
  margin-block-start: 2rem;
}
.tac {
  text-align: center;
}
.btn {
  margin-block: auto;
  padding-block: 0.75em;
  padding-inline: 1.5em;
  background-color: #f5e4c6;
  color: #4f190d;
  border: none;
  border-radius: 0.25rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn:hover {
  color: #f5e4c6;
  background-color: #4f190d;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
/** Login  */
form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}
form input:is([type='text'], [type='password']) {
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  margin-inline-start: 1rem;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #4f190d;
}
form input:is([type='submit']) {
  all: unset;
  align-self: center;
  padding-block: 0.6rem;
  padding-inline: clamp(0.3rem, 6vw, 2rem);
  background-color: #fecb7d;
  color: #4f190d;
  border-radius: 0.5em;
  cursor: pointer;
  text-transform: uppercase;
}
.errorMessage > p {
  color: #f00;
  font-size: 1.2rem;
}
.errorMessage .mt-5 {
  margin-block-start: 2.4rem;
}

/** Main  */
.welcome {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #000;
  padding: 1rem;
}
.welcome a {
  color: #fff;
}
.hero {
  position: relative;
  min-block-size: 500px;
  padding-block: 2rem;
  background: url('https://images.unsplash.com/photo-1596138641000-42fda7eeb97f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')
    center center no-repeat;
  background-size: cover;
}
.hero p {
  font-size: clamp(1rem, 2vw + 1rem, 3rem);
  color: white;
}

/** Employees */
.profile-pic {
  margin-inline: auto;
  inline-size: 4rem;
}
.profile-pic img {
  display: block;
  block-size: auto;
  inline-size: 100%;
  border-radius: 50%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/** Footer */
footer {
  position: absolute;
  bottom: 0;
  padding-block: 1rem;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
}
